output/**
gcp_transfer/**
Segmentation Analysis/**
output_files/**
*.pyc
__pycache__/**
trackmasks/**
temp/**
gradient/**
gradients/**
caches/**
associations/cache/**
labeledmasks/**
TIRF_output_test/**
gcp_transfer/**
out/**
labeledmasks/**
.ipynb_checkpoints/**
local/**
meta/**
gcp_transfer_folder/**
honors_thesis_output/**
